<form action="">

  <h3 mat-dialog-title>{{title}}</h3>
  <div mat-dialog-content>
    <mat-dialog-actions class="full-width">
      <input type="text" placeholder="项目名称" matInput>
    </mat-dialog-actions>
    <mat-dialog-actions class="full-width">
      <input type="text" placeholder="项目描述" matInput>
    </mat-dialog-actions>
    <div mat-dialog-actions>
      <button type="button" mat-raised-button color="primary" (click)='onClick()'>保存</button>
      <button type="button" mat-raised-button mat-dialog-close>关闭</button>
    </div>

  </div>
</form>