<form action="">
  <mat-card>
    <mat-card-title>注册</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <!-- <span matPreffix>wang</span> -->
        <input matInput type="text" placeholder="Email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <!-- <span matPreffix>wang</span> -->
        <input matInput type="text" placeholder="姓名">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Repeat Password">
      </mat-form-field>
      <mat-grid-list cols="6" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of items">
          <mat-icon [svgIcon]="item"></mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button type="button" color="accent">注册</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>