<mat-card>
  <mat-card-title>
    {{item.name}}
  </mat-card-title>
  <img mat-card-image [src]="item.coverImg" alt="项目封面">
  <mat-card-content>
    {{item.desc}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="button">
      <mat-icon>note</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-button type="button">
      <mat-icon>group_add</mat-icon>
      <span>Invite</span>
    </button>
    <button mat-button type="button">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-card-actions>
</mat-card>